body{
  background-color: #e6cbb4;
}

.Nav {
  display: flex;
  width: 100%;
  height: 120px;
  flex-direction: row;
  justify-content: space-between;
  padding: 30px;
  background-color: #27292a;
  border-bottom: #6D6027 2px solid;
}

.Navy {
  background-Color: white;
  width: 30rem;
  height: 50px;
  box-Shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  border-Radius: 25px;
  display: flex;
}

.Color{
  color: transparent;
  background: conic-gradient(
  #F72F35 12%,
  #30C5FF 12%,
  #30C5FF 35%,
  #FFD700 35%, #FFD700 55%,
  #FF69B4 55%, #FF69B4 70%,
  #D1E231 70%, #D1E231 90%,
  #D09EE1 90%);
  background-size: 50%;
  background-clip: text;
  -webkit-background-clip: text;
  font-size: xxx-large;
  font-weight: 1000;
}

.search {
  display: flex;
}

.inner {
  height: 80%;
  width: 33%;
  margin: 1%;
  text-align: center;
  cursor: pointer;
  padding-top: 2%;
  opacity: 0.5;
}

.inner:hover{
  opacity: 1.0;
  background-color: rgb(196, 196, 196);
  border-Radius: 25px;
}


.register {
  /* background-color: #D9A476; */
  width: 40%;
  height: 50rem;
  margin: auto;
  margin-top: 10%;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  text-align: center;
  padding: 5%;
  border-top: 1px solid #9c948f;
}

.singup {
  font-weight: bold;
  font-family: "Lucida Console", "Courier New", monospace;
  color: conic-gradient(
    #F72F35 12%,
    #30C5FF 12%,
    #30C5FF 35%,
    #FFD700 35%, #FFD700 55%,
    #FF69B4 55%, #FF69B4 70%,
    #D1E231 70%, #D1E231 90%,
    #D09EE1 90%);
}


.headcon {
  margin: 5px;
}

.addEvent {
  width: 60%;
  height: 33rem;
  margin: auto;
  margin-top: 10%;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  text-align: center;
  padding: 5%;
  border-top: 1px solid #9c948f;
}
.EVE{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.wrap{
  display: 'flex'; 
  flex-direction: "column";
}


.eventCard {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  text-align: "center";
  border: "#e6cbb4";
}

.feed {
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
  width: 150px;
  height: 150px;
  object-fit: cover;
  border: 5px solid black;
  margin-right: 5px,
}

.shadow {
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}

.pointer{
  cursor:pointer
}

/* .search:hover {
  background-color: rgb(213, 213, 213);
} */

@media all and (max-width: 600px){
  .register {
    width: 60%;
  };
}
@media all and (max-width: 600px) {
  .wrap {
    display: none;
  }
}
@media all and (max-width: 600px) {
  .Nav {
    height: 200px;
  }
}
@media all and (max-width: 600px) {
  #photocred {
    width: 100%;
    text-align: center;
  }
}

